* {margin: 0%;}
body { background-color: #f0f2f5; }
.top_bar {
	display: flex;
	width: 100%;
	background-color: #2261c7;
	height: 48px;
	font-family: 'open sans', sans-serif;
	font-size: 16px;
	font-weight: 600;
	color: #ffffff;
}
#recognition {
 margin-left: 90px;
 display: block;
 margin-top: 12px;
}
#pincode {
 display: block;
 margin-left: 600px;
 margin-top: 12px;
}
.container1 {
	display: flex;
	flex-direction: row;
	background-color: #f0f2f5;
	width: 100%;
	height: 270px;
}
.container1 img {
	width: 141px;
	height: 141px;
	margin-left: 50px;
	margin-top: 50px;
}
.headings {
	margin-left: 35px;
	margin-top: 80px;
	font-family: 'Shippori Antique', sans-serif;
}
.headings h4 {
	color: #757575;
	font-weight: lighter;
}
.contact {
	margin-left: 150px;
	margin-top: 80px;
    display: flex;
    flex-direction: row;
    font-family: 'Shippori Antique', sans-serif;
}
.contact button {
	margin: 6px;
	width: 150px;
	height: 48px;
	font-family: 'Shippori Antique', sans-serif;
	font-size: 15px;
	font-weight: bold;
	background-color: #2261c7;
	border: none;
	border-radius: 4px;
	color: #ffffff;
	box-shadow: 0 0 5px 1px black;
}
.contact button:hover {
	background-color: #2d6acc;
}
.buttons {
	display: flex;
    flex-direction: column;
    margin-left: 200px;
     margin-top: 40px;
}
.buttons button {
	width: 150px;
	height: 48px;
	font-family: 'Shippori Antique', sans-serif;
	font-size: 15px;
	font-weight: bold;
	background-color: #2261c7;
	border: none;
	border-radius: 4px;
	margin: 6px;
	color: #ffffff;
	text-shadow: none;
	box-shadow: 0 0 5px 1px black;
}
.buttons button:hover {
	background-color: #2d6acc;
}
.navbar {
	display: flex;
	 list-style-type: none;
	 background-color: #2d6acc;
	 
}
.active a {
	display: block;
	text-decoration: none;
	font-family: 'Shippori Antique', sans-serif;
	color: #ffffff;
    font-size: 18px;
    margin-left: 25px;
    height: 55px;
    padding-top: 14px;
    padding-left: 10px;
    padding-right: 10px;
}
.active a:hover {
	background-color: #0045b5;
    color: #fcd200;
}
#about-button {
	margin-left: 600px;
}
/* external css: flickity.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #EEE;
  margin-top: 2px;
}
.carousel-cell img {
	width: 100%;
}
.carousel-cell {
  width: 66%;
  height: 500px;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: gallery-cell;
}
.notif {
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: sans-serif;
	background-color: #eb0000;
	margin-left: 500px;
	margin-right: 500px;
	height: 100px;
	border-radius: 9px;
	color: white;
	box-shadow: 2px 2px 5px 5px black;
}
.notif_button a {
	margin-top: 4px;
	font-weight: bold;
	text-decoration: none;
	color: white;
	font-family: sans-serif;
}
.notif_button a:hover {
	border: 0.5px solid white;
	background-color: #f73636;
	cursor: pointer;
	font-size: 18px;
	padding: 3px;
}
.tiles {
	background-color: white;
	margin: 100px 200px;
	box-shadow: 0 0 5px 1px black;
	height: 150px;
	text-align: center;
}
.tiles span {
	margin-right: 30px;
	line-height: 130px;
}
.tiles img {
	width: 28%;
	float: right;
}

.tiles2 {
	background-color: white;
	margin: 100px 200px;
	box-shadow: 0 0 5px 1px black;
	height: 180px;
}
.list1 {
	margin-top: 30px;
	margin-right: 30px;
	text-align: right;
	float: right;
}
.list1 ul li {
	margin: 10px;
	text-align: left;
}
.tiles2 span {
	margin-right: 30px;
	line-height: 130px;
}
.tiles2 img {
	width: 28%;
	float: left;
}

@media only screen and (max-width: 600px) {
	.container1{
		flex-direction: column;
		height: 900px;
		 align-items: center;
         justify-content: center;
	}
	.buttons{
		 flex-direction: column;
		 align-items: center;
         justify-content: center;
         margin-left: 0px;
         margin-right: 0px;
	}
	.contact{
		 flex-direction: row;
		 align-items: center;
         justify-content: center;
         margin-left: 0px;
         margin-right: 0px;
	}
	.container1 img {
	 flex-direction: column;
		 align-items: center;
         justify-content: center;
         margin-left: 0px;
    }
.headings {
	 flex-direction: column;
	 align-items: center;
     justify-content: center;
     margin-left: 0px;
	 font-family: 'Shippori Antique', sans-serif;
    }
    .navbar {
    	flex-direction: column;
    	 align-items: center;
         justify-content: center;
    }
	.tiles, .tiles2 {
		margin-left: 1px;
		margin-right: 1px;
		font-size: xx-small;
	}
}